table.normTab, table.normTab tr, table.normTab th, table.normTab td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.normTab th, table.normTab td {
    padding: 2px 7px; 
    text-align: center;
    font-size: 17px
}
table.normTab th {
    background-color: #4ddbff;
}
table.normTab tr:hover {
    background-color: #cccccc;
}
table.normTab tr.marked {
    background-color: #00cc44;
}

.hidden {
    display: none;
}

span.form_error, ul.form_errors li {
    font-weight: bold;
    color: red;
}

