{% if not form.vars.valid %}
    <ul class="form_errors">
        {# Loop through every form item #}
        {% for error in form.vars.errors %}            
            <li>{{ error.message }}</li>
        {%endfor%}
    </ul>
{%endif%}
